
.chatlist-placeholder {
    opacity: 0.2;
    will-change: opacity;
    animation: chatlist-placeholder-animation 2s ease-in-out infinite;
    --chatlist-subtle-color: #fff;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba(156, 156, 156, 0.5);
    border-radius: 100px;
    width: 360px;
    height: 108px;
    margin: 0.5rem 0;
    padding: 0 30px;
}

.chatlist-placeholder-wrapper {
    padding: 9px 12px 9px 9px;
    display: flex;
    align-items: center;
}

.chatlist-placeholder-tile {
    --chatlist-placeholder-tile-size: 64px;
    width: var(--chatlist-placeholder-tile-size);
    height: var(--chatlist-placeholder-tile-size);
    border-radius: 50%;
    flex-shrink: 0;
    background: var(--chatlist-subtle-color);
}

.chatlist-placeholder-inner-wrapper {
    flex-grow: 1;
    margin-left: 9px;
}

.tile-first-row {
    display: flex;
}

.chatlist-placeholder-title {
    height: 17px;
    border-radius: 4px;
    background: var(--chatlist-subtle-color);
}

.tile-second-row {
    margin: 3px 0 0 0;
    display: flex;
}

.chatlist-placeholder-content {
    margin-top: 3px;
    height: 15px;
    border-radius: 4px;
    background: var(--chatlist-subtle-color);
}

@keyframes chatlist-placeholder-animation {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.2;
    }
}
