.swiper-pagination {
    position: relative !important;
    bottom: 0 !important;
    margin-top: 23px !important;
}

.swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    background: #fff !important;
}

.swiper-pagination-bullet-active {
    background-color: #50a2e9 !important;
}

.slide-header {
    font-size: 30px;
    margin: 14px 64px 25px;
    color: #4DCFFF;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unread-header-badge::after {
    position: relative;
    bottom: 3px;
    margin-left: 10px;
    padding: 5px;
    background-color: #4DCFFF;
    border-radius: 33px;
    width: min-content;

    content: '999+';
    font-size: 20px;
    color: #000000;
}

#dummy-item {
    width: 360px;
    height: 108px;
    margin: 0.5rem 0;
    padding: 16px 30px 0;
}