.ui-btn {
    background-color: #50a2e9;
}

.flex {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
}

.flexBody {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.btn-label {
    font-size: 18px;
    height: 44px;
    line-height: 22px;
    margin-top: 11px;
}

.btn-large {
    background-size: 75% !important;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
}

.btn-medium {
    background-size: 75% !important;
    border-radius: 50%;
    width: 4rem !important;
    height: 4rem !important;
}

.btn-small {
    background-size: 3.5rem !important;
    border-radius: 50%;
    width: 2.75rem !important;
    height: 2.75rem !important;
}

input.bad-input {
    border: solid 3px #FF0000 !important;
    border-radius: 2.1875rem !important;
}

p.bad-input {
    color: #FF0000 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    margin: 0.75rem 0 !important;
}

.unregistered-icon {
    font-size: 2rem;
    color: rgb(33, 33, 33);
    background-color: #009af9;
    border-radius: 2rem;
    padding: .25rem;
    text-align: center;
    vertical-align: middle;
}

.qr-canvas {
    width: 210px;
    height: 210px;
    background: #50A2E9;
    border-radius: 33px;
}

.help {
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    margin: 0.75rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    list-style-position: outside;
}

.help img {
    width: 28px;
    height: 28px;
    margin-right: 13px;
    vertical-align: middle;
}
