.ui-btn.ui-btn-icon {
    background-color: #50a2e9;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.flexBody {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.btn-label {
    font-size: 18px;
    height: 44px;
    line-height: 22px;
    margin-top: 11px;
}

.btn-large {
    background-size: 75% !important;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
}

.btn-medium {
    background-size: 75% !important;
    border-radius: 50%;
    width: 4rem !important;
    height: 4rem !important;
}

input.bad-phone {
    border: solid 3px #FF0000 !important;
    border-radius: 2.1875rem !important;
}

p.bad-phone {
    color: #FF0000 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    margin: 0.75rem 0 !important;
}
