.ui-btn.ui-btn-icon {
    background-color: #50a2e9;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexBody {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.buttonLabel {
    font-size: 18px;
    height: 44px;
    line-height: 22px;
    margin-top: 11px;
}

.button {
    background-size: 75% !important;
    border-radius: 50%;
    width: 5.5rem;
}